.content-wrapper{
    width: calc(100% - 100px);
    display: flex;
    flex-direction: column;
    position: relative;
   
}
@media (max-width: 768px) {
    .content-wrapper{
        width: calc(100% - 50px);
    }
}

@media (max-width: 480px) {
    .content-wrapper{
        width: calc(100% - 20px);
    }
}

.search input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.search ul {
    list-style: none;
    padding: 0;
}
.search li {
    padding: 5px 0;
    border-bottom: 1px solid #eee;
}

.dropdown-button{
    padding: 8px;
    margin:20px 0;
}